<h1>Blog</h1>

<%= link_to 'All you ever Wanted to know About Puppies', 'puppies.html.erb' %>
<%= link_to 'New Dogwalking Schedules', '#' %>
<%= link_to 'The Health Benefits to Owning a Dog', '#' %>
<%= link_to 'Dealing with Dog Stains and Smells', '#' %>
<%= link_to 'What to do with your Difficult Pet', '#' %>
<%= link_to 'What does a Dog Walker do?', '#' %>
<%= link_to "We're open for Business in Baltimore!", '#' %>
