<h1>Gallery</h1>

<%= image_tag "puppy-1.jpg" %>
<%= image_tag "puppy-2.jpg" %>
<%= image_tag "puppy-3.jpg" %>
<%= image_tag "puppy-4.jpg" %>
<%= image_tag "puppy-5.jpg" %>
<%= image_tag "puppy-6.jpg" %>
<%= image_tag "puppy-7.jpg" %>
<%= image_tag "puppy-8.jpg" %>
<%= image_tag "puppy-9.jpg" %>
<%= image_tag "puppy-10.jpg" %>
<%= image_tag "puppy-11.jpg" %>
<%= image_tag "puppy-12.jpg" %>
<%= image_tag "puppy-13.jpg" %>
<%= image_tag "puppy-14.jpg" %>
<%= image_tag "puppy-15.jpg" %>
<%= image_tag "puppy-16.jpg" %>
<%= image_tag "puppy-17.jpg" %>
<%= image_tag "puppy-18.jpg" %>
<%= image_tag "puppy-19.jpg" %>
<%= image_tag "puppy-20.jpg" %>
<%= image_tag "puppy-21.jpg" %>
<%= image_tag "puppy-22.jpg" %>
<%= image_tag "puppy-23.jpg" %>
<%= image_tag "puppy-24.jpg" %>
<%= image_tag "puppy-25.jpg" %>
